* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
html,
body {
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
  overflow-x:hidden;
  overflow-y: auto;
  position: relative;
}

/* Navbar */
.navbar {
  width: 100%;
  height: 60px;
  padding: 25px;
  justify-content: space-between;
  position: sticky;
}
.nav-left {
  gap: 1.6rem;
}
.logo-youtube {
  gap: 0.1rem;
}
.logo-youtube img {
  width: 40px;
}
.logo-youtube h1 {
  font-family: Arial;
  font-size: 25px;
}

.nav-mid input {
  border: 1px solid black;
  background-color: transparent;
  font-size: 15px;
  width: 450px;
  border: 1px solid hsl(0, 0%, 18.82%);
  height: 40px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;

  padding: 10px;
}
.nav-mid .icon-search {
  border: 1px solid black;
  background-color: transparent;
  font-weight: bold;
  width: 60px;
  border: 1px solid hsl(0, 0%, 18.82%);
  height: 40px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  background-color: hsl(0, 0%, 18.82%);

  padding: 10px;
  text-align: center;
}
.mic img {
  width: 20px;
  margin: 15px;
}
.nav-right {
  gap: 2rem;
}
.nav-right .profile-icon {
  width: 40px;
  height: 40px;
  background-color: rgb(186, 37, 11);
  text-align: center;
  border-radius: 50%;
}
.nav-right .profile-icon p {
  padding: 10px;
}

/* Sidebar */

.sidebar {
  width: 230px;
  height: 90%;
  margin-top: 15px;
  font-weight:10px;
  display: block;
  position: fixed;
  
}

.sidebar:hover{
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: hsl(0, 1%, 53%) black;
}

.icon-subscription img{
    width: 22px;
}
span{
    font-weight: 700;
    color: hsl(0, 6%, 73%);
}
.side-5{
    margin-bottom: 20px;
    padding-bottom: 5px;
}
.footer{
    color: grey;
    margin: 20px;
    word-spacing: 2mm;
    font-size: small;
    padding: 10px;
}
.footer footer{
   margin-bottom: 15px;
   font-weight: 600;
   
}
.sidebar2{
  width:70px;
  height: 90%;
  margin-top: 15px;
  font-weight:10px;
 
  text-align: center;
  display: none;
 
}

.s2-home,.s2-short,.s2-subscribe, .s2-you{
 margin-bottom: 30px;
}

.sidebar2 p{
  margin-top: 4px;
  color: white;
  font-size:x-small;
}

/* Filter buttons */

.filter-btns{
  width:100%;

  height: 50px;
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;
  position: absolute;
  top: 70px;
  left: 250px;
 
 overflow: hidden;
}



.filter-btns button{
  background-color: rgba(255,255,255,0.1);
  color: white;
  border: none;
  height: 40px;
  border-radius: 10px;
  width: auto;
  padding-left: 20px;
  padding-right: 20px;
  margin: 7px;
  font-size:15px;
  font-weight: 500;
  text-wrap: nowrap;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.content-join{
  display: flex;
  gap: 2rem;
 
}